.hero{
    background-color: black;
    height: calc(100vh - 60px);
    animation: gbColor infinite 10s;

}
@keyframes gbColor {
    0%{
        background-color: #34495e;
    }
    14%{
        background-color: #2c3e50;
    }
    28%{
        background-color: #ffb8b8;
    }
    40%{
        background-color: #3dc8f7;
    }
    55%{
        background-color: #f1c40f;
    }
    65%{
        background-color: #9149ff;
    }
    80%{
        background-color: #ff49ff;
    }
    100%{
        background-color: #ff4f4f;
    }
    
}
.register-page{
    height: 450px;
    width: 60%;
    background: greenyellow;
    margin-top: 5%;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 10px 100px;
    animation: mymove 1.75s infinite ;
    position: absolute;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.5);
}
.register-page:hover{
    animation: gbColor infinite 10s, mymove 1.75s infinite ;
    /* animation: mymove 1.75s infinite ; */

}
.rigister-page-heading{
    margin-top: 15%;
    font-size: x-large;
    font-weight: bolder;
    color: BLACK;
}
.register-page-form{
    width: 60%;
    margin-top: -4%;
}
.register-form{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
}
#email-register{
    border: none;
    outline: none;
    height: 30px;
    width: 70%;
    margin-top: 7%;
    margin-left: 17%;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.5);

}
#password-register{
    border: none;
    outline: none;
    height: 30px;
    width: 70%;
    margin-top: 7%;
    margin-left: 11%;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.5);

}
#cnfrm-password{
    border: none;
    outline: none;
    height: 30px;
    width: 70%;
    margin-top: 7%;
    margin-left: 10%;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.5);
}
.submit-btn{
    margin-left: 9%;
    height: 30px;
    width: 80%;
    margin-top: 5%;
   
    color: white;
    font-weight: bold;
    
    outline: none;
    /* border-radius: 10px 10px 10px 100px; */
    
    border: none;
    background: transparent;
    border: 2px solid #70e1f5 ;

}
.submit-btn:hover{
    border: none;
    border: 2px solid #70e1f5 ;
    color:white;
    border-radius: 5px;
    padding: 5px;
    animation: mymove 1.75s infinite ;
    background: linear-gradient(45deg, #1DBFAF 0, #1EAEDB 85%, #1EAEDB 100%);

}
.register-logo{
    position: absolute;
    top: 20%;
    left: 63%;

}
.register-logo img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}