*{
    box-sizing: border-box;
}
.contact-details-skin3 {
    display: flex;
    margin-left: 5%;
}
.contact-details-name-s3 {
    /* height: 60%; */
    width: 10%;
    /* margin-left: 3%; */
    /* background: blue; */
    /* height: 90%; */
}
.contact-details-logo-s3 {
    background: rgb(52, 152, 235);
    height: 74%;
    color: white;
    text-align: center;
    /* vertical-align: 11%; */
    margin-top: 37%;
    line-height: 84px;
    margin-left: -9%;
    font-size: 48px;
}
.both-name-email-s3 {
    margin-left: 1%;
}
.contact-details-fullName-s3 {
    /* margin-left: 7%; */
    font-size: 65px;
    font-weight: 600;
}
.contact-details-email-phone-s3 {
    display: flex;
    margin-left: 0%;
    margin: 0px;
    padding: 0px;
    width: 108%;
}
.contact-details-address-s3 {
    margin-left: 2%;
}
.contact-details-phone-s3 {
    margin-left: 3%;
}
.contact-details-email-s3 {
    margin-left: 2%;
}
.professional-summary-details-s3 {
    max-width: 75%;
    font-size: small;
}
.professional-summary-heading-s3 {
    width: 25%;
    color:rgb(52, 152, 235);
    /* font-size: 16px; */
    font-weight: bolder;
}
.professional-summary-skin3 {
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
}
.Skills-details-skin3{
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
}
.skills-details-heading-s3{
    width: 25%;
    color:rgb(52, 152, 235);
    /* font-size: 16px; */
    font-weight: bolder;
}
.skills-details-s3{
    font-weight: bold;
    max-width: 75%;

}
.skills-details-s3 ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -13%;
}
.skills-details-s3 ul li{
    margin-left: 8%;
    
}
.projects-details-skin3{
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;

}
.projects-details-heading-s3{
    width: 25%;
    color:rgb(52, 152, 235);
    /* font-size: 16px; */
    font-weight: bolder;
}
.projects-details-s3 ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -13%;
}
.projects-details-s3 ul li{
    margin-left: 8%;
    min-width: 75%;
    max-width: 76%;
    
}
.projects-details-s3{
    font-weight: bold;
    max-width: 75%;
}
.education-details-skin3{
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
}
.education-details-heading-s3{
    width: 25%;
    color:rgb(52, 152, 235);
    /* font-size: 16px; */
    font-weight: bolder;
}
.education-details-s3{

}
.education-details-degree-s3{
    font-weight: bold;
    font-size: small;
    width: 90%;
    margin-left: 5%;
    margin-top: 8px;
}
.education-details-name-s3{
    font-size: small;
    width: 90%;
    margin-left: 5%;font-weight: bold;
    font-weight: 300;
    text-align: justify;
}